<% content_for :left_column do %>
<table style="width: 90%">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>name</td>
    </tr>
    <% end %>

</table>
<% end %>


<% content_for :middle_column do %>
    <form action="">
        Title
        <br>
        <input type="text">
        <br>
        Content
        <br>
        <input type="text">
        <br><br>
        Author
        <select name="" id="">
            <% @users.each do |user|%>
            <option value="<%= user.id%>"> <%= user.first_name%> <%= user.last_name%> </option>
            <% end %>
        </select>
        <br><br>
        <input type="submit" value="submit">

    </form>
<% end %>


<% content_for :right_column do %>
    <a href="/"><button>All Users</button></a>

<% end %>
